*{
margin: 0;
padding: 0;
box-sizing: border-box;
}



.top-header{
   background-color: black;
   height: 48px;
   display: flex;
   padding: 15px;
   justify-content: center;
   align-items: center;
   backdrop-filter: blur;
   /* position: fixed;
   overflow: hidden; */
}

header img{
height: auto;
margin: auto;
max-height: 35px;

}

li{
    list-style: none;
}

.li-items{
    color: white;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 13px;
    margin: 0 18px;
}
/* 
.animation{
    height: 100vh;
    width: 100vw;
   
}

.animation video{
    height: 100%;
    width: 100%;
    object-fit: cover;
} */

/* 
h2{
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family:  "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: white;
} */

.laptop{
height: 600px;
width: 100%;
background-color: white;

/* Part of centering text over img */
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
}








.laptops{
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: 100% 50%;
}

.power{
    color: black;
    font-family:  "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 60px;
    

}

.text{
    width: 50%;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    position: relative;
    top: 100px;

}
